.top-search {
	position: fixed;
    top: 8px;
    left: 16px;
    z-index: 100;
    width: 88%;
    margin: 0 auto;
    border-radius: 20px;
    background: white;
    height: 36px;
}
.tips {
	width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px 2.25%;
    float: left;
}
.img-radius {
	width: 100%;
	border-radius: 60px;
}
.header-tips-content {
	box-sizing: border-box;
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
}
.list-header {
	width: 100%;
	height: 50px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	background: #F2F5F4;
}
.list-header-title {
	text-align: center;
    width: 80%;
    line-height: 50px;
    margin: auto;
    font-weight: bold;
}

.list-whitespace {
	width: 100%;
	height: 10px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	background: #F2F5F4;
}

.imgStyle img {
	width: 50px;
	border-radius: 25px;
}
.list-content {
	padding: 10px 14px 14px;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}

.tips-info-left {
	float: left;
}
.tips-info-right {
	float: right;
}
.tips-user-left {
	float: left;
	width: 18%;
    height: 18%;
}
.tips-user-left img {
	float: left;
    width: 100%;
    height: 100%;
}
.tips-user-right {
	float: right;
    width: 78%;
    padding-left: 4%;
}
.tips-margin {
	margin: 0;
}
.tips-second {
	padding-top: 6px;
    font-size: 13px;
    color: #929292;
}
.tips-info-title {
	font-size: 17px;
	font-weight: bold;
}
.tips-info-salary {
	font-size: 17px;
	color: #ff734b;
}
.tips-info-date {
	font-size: 15px;
	color: #929292;
}
.tips-info-ask {
	font-size: 15px;
}

